{__NOLAYOUT__}
{extend name="layout/default" /}
{block name="main"}
<div class="layui-form layui-card-header layuiadmin-card-header-auto layui-hide">
	<form class="layui-form">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">账号</label>
				<div class="layui-input-block">
					<input type="text" name="username" placeholder="请输入账号" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">昵称</label>
				<div class="layui-input-block">
					<input type="text" name="nickname" placeholder="请输入昵称" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">邮箱</label>
				<div class="layui-input-block">
					<input type="text" name="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
				</div>
			</div>
			<!-- <div class="layui-inline">
				<label class="layui-form-label">角色</label>
				<div class="layui-input-block">
					<select name="role">
						<option value="0">管理员</option>
						<option value="1">超级管理员</option>
						<option value="2">纠错员</option>
						<option value="3">采购员</option>
						<option value="4">推销员</option>
						<option value="5">运营人员</option>
						<option value="6">编辑</option>
					</select>
				</div>
			</div> -->
			<div class="layui-inline">
				<button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="formDemo"">
					<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
				</button>
			</div>
		</div>
	</form>
</div>

<div class="layui-card-body">
	<table class="layui-hide" id="table" lay-filter="table" ></table>
	<script type="text/html" id="toolbarDemo">
		<div class="layui-btn-container">
			<a class="layui-btn layui-btn-sm" href="{:url('admin/admin/add')}">添加管理员</a>
			<button type="button" class="layui-btn layui-btn-sm" lay-event="refresh"><i class="iconfont icon-shuaxin"></i>&nbsp;刷新</button>
			<button type="button" class="layui-btn layui-btn-sm" lay-event="delAll"><i class="iconfont icon-shanchu"></i>&nbsp;批量删除</button>
			<button type="button" class="layui-btn layui-btn-sm" lay-event="search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i></button>
		</div>   
	</script>
	<script type="text/html" id="barTool">
		<a class="layui-btn layui-btn-xs" lay-event="edit"  title="编辑">编辑</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" title="删除">删除</a>
	</script>
</div>
{/block}
{block name='script'}
<script src="__STATIC__/assets/adminbase/{$controllername}.js"></script>
{/block}


