{__NOLAYOUT__}
{extend name="layout/default" /}
{block name="main"}

<div class="layui-card-body"  data-action='index'>
    <div class="layui-form">
        <table class="layui-hide" id="table" lay-filter="table"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-input-inline layui-btn-container">
                <a class="layui-btn layui-btn-sm" href="{:url('admin/rule/add')}">添加菜单规则</a>
                <button type="button" class="layui-btn layui-btn-sm" onclick="menu_change(this)">全部展开</button>
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="edt-search" autocomplete="off" placeholder="搜索">      
            </div>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn layui-btn-sm" onclick="search()">搜索</button> 
            </div>    
        </script>
        <script type="text/html" id="barTool">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">添加</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
</div>

{/block}
{block name='script'}
<script src="__STATIC__/assets/adminbase/{$controllername}.js"></script>
{/block}